.btnAdd{
    font-size:15px;
    color:white!important;
    border:none!important;
    outline:none!important;
}
.btnEdit{
    font-size:15px;
    color:white!important;
    border:none!important;
    outline:none!important;
}
.btnDelete{
    font-size:15px;
    color:white!important;
    border:none!important;
    outline:none!important;
}