.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.accordion_bloc{
    width: 500px;
}
.accordion_bloc .item{
    background: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.accordion_bloc .item .title{
    color:#85662b;
    display: flex;
    justify-content: space-between;
}
.accordion_bloc .item .content{
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.accordion_bloc .item .content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
